<div id="<%= dom_id document %>">
  <% if document.pages[@page - 1] %>
  <%= image_tag url_for(document.pages[@page - 1].preview), height: "600" %>
  <%= link_to "Prev", document_path(document, page: @page - 1) if @page > 1 %>
  <%= link_to "Next", document_path(document, page: @page + 1) if @page < document.pages.count %>
  <% end %>
  <% if document.interpretation %>
  <p>
    <strong>date_written</strong>
    <%= document.interpretation["date_written"] %>
  </p>
  <p>
    <strong>sender</strong>
    <%= document.interpretation["sender"] %>
  </p>
  <p>
    <strong>recipient</strong>
    <%= document.interpretation["recipient"] %>
  </p>
  <p>
    <strong>recipient_guess</strong>
    <%= document.interpretation["recipient_guess"] %>
  </p>
  <p>
    <strong>topic</strong>
    <%= document.interpretation["topic"] %>
  </p>
  <% end %>
  <p>
    <strong>File:</strong>
    <%= link_to "Download", download_document_path(document) %>
  </p>
</div>
