<div id="<%= dom_id correspondence %>">
  <p>
    <strong>Subject:</strong>
    <%= correspondence.subject %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= correspondence.sender %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= correspondence.recipient %>
  </p>

  <p>
    <strong>Sent at:</strong>
    <%= correspondence.sent_at %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= correspondence.document_id %>
  </p>

</div>
